<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Display</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Color</string>
			<key>Key</key>
			<string>settings_color</string>
			<key>DefaultValue</key>
			<real>0</real>
			<key>Values</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Purple</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font</string>
			<key>Key</key>
			<string>settings_font</string>
			<key>DefaultValue</key>
			<string>Nouveau IBM</string>
			<key>Values</key>
			<array>
				<string>Nouveau IBM</string>
				<string>ModeNine</string>
				<string>Calling Code</string>
				<string>Speculum</string>
				<string>Origami Mommy</string>
				<string>Ponderosa</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Nouveau IBM</string>
				<string>ModeNine</string>
				<string>Calling Code</string>
				<string>Speculum</string>
				<string>Origami Mommy</string>
				<string>Ponderosa</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use 24 Hour Convention</string>
			<key>Key</key>
			<string>settings_use_24_hour_mode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Seconds</string>
			<key>Key</key>
			<string>settings_show_seconds</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Date</string>
			<key>Key</key>
			<string>settings_show_date</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Battery</string>
			<key>Key</key>
			<string>settings_show_battery</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Brightness</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>settings_brightness_level</string>
			<key>DefaultValue</key>
			<real>1</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Vertical Swipe Gestures</string>
			<key>Key</key>
			<string>settings_enable_brightness_swipe</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Auto-Lock</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Auto-Lock if Plugged In</string>
			<key>Key</key>
			<string>settings_enable_lock_plugged_in</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
